<a href="https://colab.research.google.com/github/shanzajabeen1/Sample-Repository/blob/main/Computing_Practice_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
n = int(input("Number: "))

# use for loop to iterate 10 times
for i in range(1,11):
   print(n,'x',i,'=',n*i)

Number: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [5]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("number: "))
print(factorial(n))

number: 4
24

In [12]:
def arithmetic_sequence (n, diff):
    sequence = [1 + i * diff for i in range(1, n)]

    return sequence

n = int(input("n: "))
diff = int(input("diff: "))

result_sequence = arithmetic_sequence(n, diff)
print(f"The arithmetic sequence is: {result_sequence}")

n: 5
diff: 2
The arithmetic sequence is: [3, 5, 7, 9]

In [11]:
def arithmetic_sequence (n, diff):
    sequence = [i ** diff for i in range(1, n)]

    return sequence

n = int(input("n: "))
diff = int(input("diff: "))

result_sequence = arithmetic_sequence(n, diff)
print(f"The arithmetic sequence is: {result_sequence}")

n: 10
diff: 3
The arithmetic sequence is: [1, 8, 27, 64, 125, 216, 343, 512, 729]

In [16]:
word = "Python"

for letter in word:
    print(letter)
    print()

P

y

t

h

o

n

In [17]:
for num in range(0, 21, 5):
    print(num)

0
5
10
15
20

In [22]:
n=int(input("n: "))
for num in range(2,n*2+1):
    if num%2 ==0:
      print(num)

n: 5
2
4
6
8
10

In [24]:
def is_prime_basic(num):
    if num < 2:
        return False

    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False

    return True
is_prime_basic(3)

True

In [26]:
def prime(num):
    if num < 2:
        return False

    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False

    return True
try:
    a = int(input("a: "))
    b = int(input("b: "))

    print(f"Prime numbers between {a} and {b} are:")
    for number in range(a, b + 1):
        if prime(number):
            print(number)
except ValueError as ve:
    print(f"Error: {ve}")
    print("Please enter valid integers for a and b.")

a: 5
b: 15
Prime numbers between 5 and 15 are:
5
7
11
13

In [27]:
positive_count = 0
negative_count = 0
zero_count = 0

choice = 'Y'
while choice == 'Y' or choice == 'y':
    num = int(input("Enter a number: "))
    if num == 0:
        zero_count += 1
    elif num > 0:
        positive_count += 1
    else:
        negative_count += 1

    choice = input("Do you wish to continue (y/n)?: ")

print("Positive numbers:", positive_count, ", Negative numbers:", negative_count, ", Zeros:", zero_count)

Enter a number: 20
Do you wish to continue (y/n)?: y
Enter a number: 11
Do you wish to continue (y/n)?: y
Enter a number: 2
Do you wish to continue (y/n)?: n
Positive numbers: 3 , Negative numbers: 0 , Zeros: 0

In [28]:
pattern = ["* " * i for i in range(1, 6)]
pattern += ["* " * i for i in range(4, 0, -1)]

print("\n".join(pattern))

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [29]:
pattern = [''.join(['*' if (j == 0 or j == 4) or ((i == 0 or i == 3) and (j > 0 and j < 4)) else ' ' for j in range(5)])
    for i in range(7)]

print('\n'.join(pattern))

*****
*   *
*   *
*****
*   *
*   *
*   *

In [33]:
pattern = [str(i) * i for i in range(1, 10)]
print('\n'.join(pattern))

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [35]:
def is_armstrong_number(num):
    order = len(str(num))
    return num == sum(int(digit) ** order for digit in str(num))

armstrong_numbers = [num for num in range(1, 501) if is_armstrong_number(num)]
print(armstrong_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407]