<a href="https://colab.research.google.com/github/shanzajabeen1/Sample-Repository/blob/main/Practice_2_computing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
def difference(number):
    difference = number - 17
    if number > 17:
         return 2 * abs(difference)
    else:
        return abs(difference)
difference(21)

8

In [14]:
def in_range(number):
    return (abs(1000 - number) <= 100) or (abs(2000 - number) <= 100)
numbers = [900, 950, 1000, 1050, 1900, 1950, 2000, 2050]
in_range(800)

False

In [19]:
def sum_num(x, y, z):
  if x==y==z:
    return 3*(x+y+z)
  else:
    return (x+y+z)
sum_num(4,4,4)

36

In [22]:
number=int(input("number="))
if number % 2==0:
  print("number is even")
else:
  print("number is odd")

number= 20
number is even

In [27]:
letter=input("letter=")
vowel=['a', 'e', 'i', 'o', 'u']
if letter in vowel:
  print("vowel")
else:
  print("consonant")

letter=s
consonant

In [33]:
x=int(input("x="))
y=int(input("y="))
z=int(input("z="))
sum=x+y+z
if x==y or x==z or y==z:
  print("sum = 0")
else:
  print('sum =',sum)

x=8
y=5
z=3
sum = 16

In [40]:
x=int(input("x="))
y=int(input("y="))
sum=x+y
if sum<=20 and sum>=15:
  print("sum = 20")
else:
  print('sum =',sum)

x=4
y=15
sum = 20

In [47]:
from pickle import FALSE
x=int(input("x="))
y=int(input("y="))
sum=x+y
diff=x-y
if sum==5 or diff==5 or x==y:
  print("True")
else:
  print("False")

x=5
y=4
False

In [7]:
x=int(input("x="))
y=int(input("y="))
result=x+y
if type(x) and type(y) is int:
  print(result)

x=2
y=4
6

In [13]:
def uniqueness_data(data):
  if len(data)==len(set(data)):
    return True
  else:
    return False
print(uniqueness_data([2,5,5]))
print(uniqueness_data([2,5,6]))

False
True

In [15]:
side1=float(input("side1="))
side2=float(input("side2="))
side3=float(input("side3="))
if side1 == side2 == side3:
  print("Equilateral Triangle")
elif side1 == side2 or side1 == side3 or side2 == side3:
  print("Isosceles Triangle")
else:
  print("Scalene Triangle")

side1=2
side2=5
side3=2
Isosceles Triangle

In [19]:
x=float(input("x="))
y=float(input("y="))
z=float(input("z="))
values=[x,y,z]
sorted_values=sorted(values)
median=sorted_values[1]
print(median)

x=12
y=32
z=25
25.0

In [1]:
year = int(input("Input a year: "))

if (year % 400 == 0):
    leap_year = True
elif (year % 100 == 0):
    leap_year = False
elif (year % 4 == 0):
    leap_year = True
else:
    leap_year = False

month = int(input("Input a month [1-12]: "))

if month in (1, 3, 5, 7, 8, 10, 12):
    month_length = 31
elif month == 2:
    if leap_year:
        month_length = 29
    else:
        month_length = 28
else:
    month_length = 30


day = int(input("Input a day [1-31]: "))

if day < month_length:
    day += 1
else:
    day = 1
    if month == 12:
        month = 1
        year += 1
    else:
        month += 1
print("The next date is [yyyy-mm-dd] %d-%d-%d." % (year, month, day))

Input a year: 2023
Input a month [1-12]: 11
Input a day [1-31]: 22
The next date is [yyyy-mm-dd] 2023-11-23.

In [2]:
print("List of months: January, February, March, April, May, June, July, August, September, October, November, December")
month_name = input("Input the name of Month: ")

if month_name == "February":
	print("No. of days: 28/29 days")
elif month_name in ("April", "June", "September", "November"):
	print("No. of days: 30 days")
elif month_name in ("January", "March", "May", "July", "August", "October", "December"):
	print("No. of days: 31 day")
else:
	print("Wrong month name")

List of months: January, February, March, April, May, June, July, August, September, October, November, December
Input the name of Month: March
No. of days: 31 day

In [ ]:
text = input("Input a string: ")
text = text.strip()
if len(text) < 1:
    print("Input a valid text")
else:
    if all(text[i] in "0123456789" for i in range(len(text))):
        print("The string is an integer.")
    elif (text[0] in "+-") and \
         all(text[i] in "0123456789" for i in range(1,len(text))):
         print("The string is an integer.")
    else:
        print("The string is not an integer.")